__pycache__/
.pytest_cache/
.vscode/

# script files
lockfile
archive.txt
batchURLs.txt
config_fetcher.txt
config_pods_playlist.txt
config_pods_username.txt
config_pods_cherrypick.txt
audio-processing/
metadata/
videos/

# debugging and misc files
notes.txt
bad-filenames/
sandbox.py
archive-gg.txt
RunTestCode.bat
podcast_manage_tool_funcs_test.py
